.member-list-pages{
  .handle-add-btn {
    display: block;
    width: 100px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(231, 232, 236);
    border-radius: 3px;
    color: rgb(53, 186, 176);
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  .handle-edit-btn {
    color: rgb(53, 186, 176);
    cursor: pointer;
  }
}
