.cashier-wrap-pages {
  .ant-btn.disabled,
  .ant-btn[disabled],
  .ant-btn.disabled:hover,
  .ant-btn[disabled]:hover,
  .ant-btn.disabled:focus,
  .ant-btn[disabled]:focus,
  .ant-btn.disabled:active,
  .ant-btn[disabled]:active,
  .ant-btn.disabled.active,
  .ant-btn[disabled].active {
    color:#E7E8EC;
    border: 1px solid #E7E8EC;
  }
  .ant-btn {
    width: 100px;
    height: 40px;
    background: #FFF;
    border: 1px solid #E7E8EC;
    border-radius: 3px;
    color: #35BAB0;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-weight: bolder;
    &:hover {
      background: #fff;
      color: #58c7ba;
      border-color: #58c7ba;
    }
  }
  .activity-part {
    .label-name {
      line-height: 40px;
      display: inline-block;
      vertical-align: middle;
    }
    .activity-list-select {
      width: 200px;
      height: 40px;
      vertical-align: middle;
    }
    .ant-select-selection--single {
      height: 40px;
    }
  }

}
.cashier-discount-modal {
  .ant-modal-body {
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .ant-modal-footer {
    padding: 10px 16px;
    height: auto;
  }
  .tips-title {
    color: #E16559;
    margin-bottom: 12px;
  }
}
