.goods-manage .exportBtn{
    margin-left: 5px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
}
.searchinputbtn{
    margin-left: 5px;
    border-radius:3px;
}
.searchinput{
    border-radius:3px;
}
@media screen and (max-width: 950px){
    .goods-v15-style .searchinput{
        width: 160px;
    }
    /* 销售管理退货管理 */
    .tuihuo-infolist li:first-child span.one-tuihuo{
        display: block;
    }
    .tuihuo-infolist li.info-tuihuo p:last-child{
        margin-bottom: 10px;
    }
}
