.cashier-mainContent-wrap {
  .goods-table-action {
    background: #fff;
    // text-align: center;
    height: 100%;
    input {
      width: 80%;
      text-align: center;
    }
    .ant-form-item {
      margin: 0;
    }
  }
}
