.return-goods-pages {
  .amout-detail-action {
    position: absolute;
    bottom: 244px;
    right: 30px;
    .money-item {
      display: inline-block;
      text-align: right;
      font-size: 20px;
      margin-left: 16px;
      font-weight: bold;
      color: #333;
      .mon-num {
        color: #666;
        &.returnAmount {
          color: #FB6349;
        }
      }
    }
  }
}
