.sellinfolist-wrapper {
  .sellinfolist {
    .sellinfo-item {}
    .sellinfo-row {
      font-size: 14px;
      color: #1a1d00;
      padding: 5px 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
  .slidecountcztop  {
    .sellinfo-row {
      font-size: 14px;
      color: #1a1d00;
      margin-bottom: 10px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
  .slidecountczbo {
    .sellinfo-row {
      font-size: 14px;
      color: #1a1d00;
      margin-bottom: 10px;
    }
  }
  .local-shop {
    color: #D7636B;
    font-size: 12px;
    padding: 0 6px;
    border-radius: 4px;
    border: 1px solid #D7636B;
    margin-left: 6px;
  }
}
