html, body{height: 100%;padding:0;margin:0;border: 0;background:#F4F4F4;overflow-x:hidden;}
li{list-style: none;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; *zoom:1;}
.fl{float: left}
.fr{float: right;}
.tc{text-align: center;}
.w{margin:0 auto;}
.posion{position: relative;}
.w100{width: 100%;}
.h100{height: 100%;}
.point{cursor: pointer;}
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}





/*位置*/
.ml10{margin-left: 10px}
.mr10{margin-right: 10px}
.mt10{margin-top: 10px}
.mb10{margin-bottom: 10px}
.mt20{margin-top: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.pb20{padding-bottom: 20px;}
.mt30{margin-top: 30px;}
.ml30{margin-left: 30px;}
.mr30{margin-right: 30px;}
.mb30{margin-bottom: 30px;}
.p30{padding:30px;}
.pl30{padding-left: 30px;}
.mt25{margin-top: 9px;}
.tr{text-align: right;}

/*字体*/
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f20{font-size: 20px;}
.f30{font-size: 30px;}
.f26{font-size: 26px;}
.f18{font-size: 18px;}
.fw{font-weight: bolder;}

/*color*/
.fff{color: #fff;}
.c74{color: #74777F;}
.c1A{color: #1A1D00;}
.c38{color: #384162;}
.themecolor{color: #35BAB0}
.themebgcolor{background: #35BAB0;}
.onetypecolor{background: #FB6349}

/*元素*/
.btn{width: 100px;height: 40px;}
.dividingline{
  width: 2px;
    height: 15px;
    background:#E7E8EC;
    margin:0 auto;
    margin-top: 20px
}

/*框架*/
.count{padding:0 30px;position: relative;}
.h40{height: 40px;line-height: 40px;}
.messageicon{width:30px;height: 30px;}
.messageicon img{width:100%;height: 100%;}
.bgf{background:#fff;border-radius: 5px;height: 100%;border: 1px solid #e9e9e9;}
.headers{height: 93px;position: absolute;z-index: 5;top:0;width: 100%;background:#35BAB0;margin-bottom:20px}
.headersno{height: 93px;position: absolute;z-index: 5;top:0;width: 100%;background:#FB6349;margin-bottom:20px}
.footer{height: 285px;position: absolute;z-index: 1000;bottom: 20px;width: 100%;}
.footers{height: 245px;position: absolute;z-index: 1000;bottom: 20px;width: 100%;}
.counter{width:100%;top:113px;position:absolute;z-index:10;bottom:325px;padding:0 30px;}
.counters{width:100%;overflow:hidden;top:113px;position:absolute;z-index:10;bottom:20px;padding:0 30px;}
.rowco{background:#E7E8EC}

/*--antd--*/
span.ant-radio + *{font-size: 16px;color: #74777F;}
.ant-radio-inner{border-radius: 3px;width: 16px;height: 16px;top:1;}
.ant-radio-inner:after{border-radius: 0;left: 4px;top:4px;}
.ant-modal-footer{height: 60px;padding:0;}
.ant-modal-header{text-align: center;padding:0;border-radius: 5px;}
.ant-modal-title{height: 66px;line-height: 66px;}
.ant-tabs{height: 100%;border-radius: 5px;}
/*修改销售信息下的bottom*/
.content-sell-info .ant-tabs{
  border-bottom:none;
  border-radius: 0px;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-ink-bar{visibility:visible;height: 2px;bottom:0;}
.ant-table-tbody .table_white{background: white;}/*设置隔行变色*/
.ant-table-tbody .table_gray{background: #f4f4f4}
.ant-table-tbody .table_theme{background: #35BAB0}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container{height: 54px;}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{height: 54px;width: 200px;padding:0;text-align: center;line-height: 54px;font-size: 14px;border:1px solid #E7E8EC;margin-right: 0;border-radius:5px 5px 0 0;margin-right: 10px;background: #fff;}
.ant-tabs-bar{margin-bottom: 0;}
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content{background: #FFFFFF;border: 1px solid #E7E8EC;border-radius: 0 5px 3px 3px;overflow: hidden;}
.ant-message-notice-content{background: #fff;box-shadow: 0 0 30px 0 rgba(0,0,0,0.30);border-radius: 5px;font-size: 30px;color: #384162;padding:24px 20px;}
.ant-message .anticon{top:0;font-size: 26px;}
.ant-message{top:50%;transform: translateY(-50%)}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar{
	height: calc(100vh - 320px);
    overflow-y: auto;
    overflow-x: hidden;
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-tab-prev{
   
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-tab-next{
   
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-nav-container, 
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-nav-wrap{
    height: auto;
}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-content{
  height: calc(100vh - 320px);
  overflow-x: hidden;
  overflow-y: hidden;
}
.ant-tabs.ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs.ant-tabs-editable-card .ant-tabs-content > .ant-tabs-tabpane{
  width: 100%;
    height: 100%;
}
.sellinfolist-wrapper{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-nav-container.ant-tabs-nav-container-scrolling{
	padding: 0px 0;
}
.content-sell-info .ant-tabs-nav{
	display: block;
}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-nav-wrap>div:last-child{

}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab{height: 75px;margin-bottom: 0;padding:0;}
.ant-tabs-vertical.ant-tabs-left{border-top: 1px solid #d8d8d8;}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active{background:#35BAB0;width: 330px;position: relative;}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active .slidetitle{
  border-bottom: 0px!important;
}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active p div{color: #fff}
/*.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active:after{content:'';width: 0;height: 0;display: block;border-top: 37.5px solid transparent;border-bottom: 37.5px solid transparent;
    border-left: 10px solid #35BAB0;position: absolute;top:0;right:-10px;}*/
.ant-tabs-nav-container,.ant-tabs-nav-wrap,.ant-tabs-nav-scroll{overflow:visible;}
.ant-tabs-top .ant-tabs-ink-bar-animated, .ant-tabs-bottom .ant-tabs-ink-bar-animated{transition:none;}
.searchqery .ant-input,.persontime .ant-input{height: 40px;width: 200px;font-size: 14px;}/*日期框*/
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{text-align: center;}
.ant-table-bordered .ant-table-thead > tr > th{font-size: 14px;color: #74777F;border-right:1px solid #e9e9e9;background: #fff;height: 55px;}
.ant-table-bordered .ant-table-thead > tr > th:last-child{font-size: 14px;color: #74777F;border-right:0;background: #fff;height: 55px;}
.ant-table-bordered .ant-table-tbody > tr > td{font-size: 14px;color: #384162;border-right:none}
.ant-table-tbody > tr > td{border-bottom:0;height: 40px;padding:0;}
.ant-tabs-extra-content{position: relative;z-index: 1000;}
.ant-tabs-nav-container{position: relative;z-index: 1;}
.ant-form-item-required:before{display: none;}
.ant-modal-body{padding:20px;padding-bottom: 0;}
.ant-form-item-label{height: 40px;line-height: 40px;vertical-align: top;}
.ant-form-item-label label:after{content: ''}
.ant-notification-topLeft, .ant-notification-bottomLeft{left: 50%!important;margin-left: -150px;}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{background: #fff;}
.ant-table-bordered .ant-table-header > table, .ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-fixed-left table, .ant-table-bordered .ant-table-fixed-right table{border:0;}
.ant-select-selection-selected-value{line-height: 40px;}
.ant-table-pagination .ant-select-selection-selected-value{line-height: 26px;}
.ant-modal-title{font-size: 26px;color: #384162;}
.ant-table-placeholder{display: none;}
.ant-modal-content{border-radius: 5px;}
.ant-form-explain{font-size: 14px;}
/*组件*/

/*operation*/

.memberinfobox1{width: 72px;}
.memberinfobox3{width: 88px; }
.memberinfobox2{width: 64px;}
.memberinfobox2 .p1{text-align: right}
.memberinfobox1 .p2{margin-top: 3px}
.memberinfobox2 .p2{margin-top: 3px}
.memberinfobox3 .p2{margin-top: 3px}

.birthline{display: inline-block;width: 48px;text-align: right;color: #35bab0;}
.birthline .line{width: 1px;height: 16px;background: #35bab0;display: inline-block;top:11px;position: absolute;right: 52px;}
.cashierbox_t{border-bottom: 1px solid #E7E8EC;height: 38px;line-height: 38px;padding:0 12px;position: relative;}
.operationl{width:60%;}
.useinput{width:45%;height:50px;font-size:30px;color:#384162;margin-left: 2%;}
.useinputss{width:60%;height:50px;font-size:30px;color:#384162;margin-left: 2%;}
.opera{width:100%;height:225px;background:#fff;border-radius: 5px;border:1px solid #e9e9e9;}
.operationr{width:40%;margin-top: -1px;}
.operationr .operationcon{width:100%;height:225px;background:#35BAB0;overflow:hidden;cursor: pointer;border-radius: 0 5px 5px 0;}
.operationr .operationconbg{width:100%;height:225px;background:#FB6349;overflow:hidden;cursor: pointer;border-radius: 0 5px 5px 0}
.operationr .list1{width:33%;height:150px;border-right:1px solid rgba(255,255,255,0.5);margin-top:38px;text-align:center}
.operationr .list1 .con1{font-size:36px;color:#FFF;margin-top:38px}
.operationr .list1 .con2{font-size:16px;color:#FFF;margin-top: 5  px;}
.operationr .list2{width:33%;height:150px;border-right:1px solid rgba(255,255,255,0.5);margin-top:38px}
.operationr .list2 .con1{font-size:16px;color:#FFF;margin-left:30px;margin-top:46px}
.operationr .list2 .con2{font-size:40px;color:#FFF;margin-left:30px}
.operationr .list3{width:33%;height:150px;margin-top:38px;}
.operationr .list3 .con1{font-size:16px;color:#FFF;margin-left:30px;margin-top:46px}
.operationr .list3 .con2{font-size:40px;color:#FFF;margin-left:30px}
.operationl input::-ms-input-placeholder{font-size: 30px;color: #384162;text-align: center;font-weight: 550;opacity: 0.5}
.operationl input::-webkit-input-placeholder{font-size: 30px;color: #384162;text-align: center;font-weight: 550;opacity: 0.5}
.tablebox{min-height: 250px;background: #fff;}
.rechargebtn{width:33px;height:16px;border:1px solid #35BAB0;text-align:center;line-height:14px;font-size:10px;float:left;margin-left:5px;cursor: pointer;border-radius: 3px;margin-top: 1px;}
.cashierbox{width:45%;height:96px;border:1px solid #E7E8EC;border-radius:3px;margin-left:2%;}
.footleft{width:174px;font-size: 16px;height:60px;line-height:60px;cursor: pointer;}
.footright{width:174px;font-size: 16px;color:#35BAB0;height:60px;line-height:60px;cursor: pointer}
.footcen{width: 2px;height: 15px;background:#E7E8EC;margin:0 auto;margin-top: 20px}
.chargep{width:310px;border-bottom:1px solid #E7E8EC;height:55px;line-height:55px;margin:0 auto}
.rechargetype{color:#35bab0;border:1px solid #35bab0}
.rechargetypeoff{color:#384162;border: 1px solid #E7E8EC}
.w310{width: 310px}
.w310l{height:40px;line-height:40px}
.w310ll{width:237px;height:40px}
.reopera1{width:300px;height:96px;border:1px solid #E7E8EC;border-radius:3px;margin-left:20px}
.reopera2{border-bottom:1px solid #E7E8EC;height:40px;line-height:40px;font-size:14px;text-align:center}
.reopera3{margin:0 auto;width:250px}
.cashierbox_b{font-size: 16px;position: relative;padding:0 12px;}
.lines{width: 1px;height: 15px;background: #E7E8EC;}
.lines1{position: absolute;left: 100px;top:11px;}
.lines2{position: absolute;left: 200px;top:11px;}

/*btn*/
.widthmethfw{width:100px;height:40px;background:#FFF;border: 1px solid #E7E8EC;border-radius: 3px;color: #35BAB0;
  font-size: 14px;text-align:center;line-height:40px;cursor: pointer;font-weight: bolder;}
.widthmeth{width:100px;height:40px;background:#FFF;border: 1px solid #E7E8EC;border-radius: 3px;color: #35BAB0;
  font-size: 14px;text-align:center;line-height:40px;cursor: pointer;}

/*Searchinput*/
.searchinput{width:300px;height:40px;color:#B4B4B4;border-radius:3px 0 0 3px}
.searchinputbtn{width:87px;height:40px;background: #35BAB0;line-height:40px;border-radius:0 3px 3px 0}


/*header组件*/

.headermenuiconcount{width:84px;height:30px}
.headermenuuselogo{width:184px;height:93px;margin-left:30px;margin-right:50px;}
.headermenuuselogobox{width:184px;height:54px;margin-top: 20px;}
.menu_list0,.menu_list1,.menu_list2,.menu_list3,.menu_list4,.menu_list5{width:90px;height: 100%;float: left;text-align: center;height: 93px;color: #384162;}
.menu_list0 .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_member.png) no-repeat center center;background-size:cover;}
.menu_list1 .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_delivery.png) no-repeat center center;background-size:cover;}
.menu_list2 .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_goods.png) no-repeat center center;background-size:cover;}
.menu_list3 .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_sell.png) no-repeat center center;background-size:cover;}
.menu_list4 .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_dataManage.png) no-repeat center center;background-size:cover;}
.menu_list5 .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_setting.png) no-repeat center center;background-size:cover;}
.menu_list0:hover,.menu_list1:hover,.menu_list2:hover,.menu_list3:hover,.menu_list4:hover,.menu_list5:hover{background: #38B3AA;}
.menu_list0:hover .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_member_hover.png) no-repeat center center;background-size:cover;}
.menu_list1:hover .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_delivery_hover.png) no-repeat center center;background-size:cover;}
.menu_list2:hover .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_goods_hover.png) no-repeat center center;background-size:cover;}
.menu_list3:hover .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_sell_hover.png) no-repeat center center;background-size:cover;}
.menu_list4:hover .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_dataManage_hover.png) no-repeat center center;background-size:cover;}
.menu_list5:hover .menu_list{width:40px;height:40px;margin:0 auto;margin-top:19px;background: url(images/icon_setting_hover.png) no-repeat center center;background-size:cover;}
.menu_list0:hover .menu_list_p,.menu_list1:hover .menu_list_p,.menu_list2:hover .menu_list_p,.menu_list3:hover .menu_list_p,.menu_list4:hover .menu_list_p,.menu_list5:hover .menu_list_p{font-size:10px;color:#fff}
.menu_list_p{font-size:10px;color:#384162}
.menuitem{font-size:14px;color:#74777F}
.menuitem:hover{color:#35BAB0;}
.shift_bottom_list{background: #fff;}
.shift_bottom_list li{width: 110px;height:62px;border:1px solid #F4F4F4;box-shadow:0 0 11px 0 rgba(0,0,0,0.10);text-align:center;float:left;background: #fff;margin:22px 11px 0;padding-top: 3px;}
.dropdownmodal .ant-modal-content{width: 550px;}
.dropdownmodal .ant-modal-header{display: none;}
.dropdownmodal .ant-modal-body{padding:0;}
.dropdownmodal .ant-modal-footer{border-top:0;width: 100%;height: 60px;margin:0 auto;padding:0;border-top:1px solid #F4F4F4;}
.usershift_box{width:550px}
.usershift_count{width:508px}
.usershift_counts{width:530px}
.usershift_top{height: 168px;border-radius: 5px 5px 0 0;}
.usershift_top_title{border-bottom: 1px solid rgba(255,255,255,0.3);height:60px;line-height:60px}
.usershift_top_list{width: 130px;margin-top:24px}
.usershift_top_list_line1{width:2px;height:30px;background:rgba(255,255,255,0.3);position:absolute;left:150px;top:35px}
.usershift_top_list_line2{width:2px;height:30px;background:rgba(255,255,255,0.3);position:absolute;left:350px;top:35px}
.usermodelfootbtn{width:274px;height:60px;line-height:60px;font-size: 16px;cursor: pointer;}
.Userinfobox{margin-top:36px;margin-right:30px}
.Userinfospshop{height:20px;line-height:20px}
.userline{margin:0px 10px 0;height:20px}
.userdropdownmenu{margin-top:0px}
.userloginlogo{width: 100%;height: 168px;background: #35BAB0;overflow: hidden;border-radius: 3px 3px 0 0}
.userloginlogobox{width:210px;height: 83px;margin:0 auto;margin-top: 43px}
.userloginformbutton{width: 100%;margin-top: 12px}
.userlogin_form{max-width: 400px;margin:0 auto;margin-top:30px;}
.userlogin_form .ant-input-disabled{background: #fff;color: rgba(0,0,0,1);}


.jiaos{height: 20px;}

/*infomessage组件*/
.infomodels .ant-modal-content{background: #fff;}
.anticon-check-circle:before{color: #35bab0;}
.infomodels .sureok{font-size: 16px;cursor: pointer;}

/*infomodel*/
.modeltext{color:#35bab0;margin-left:54px;font-size: 14px;}
.infomodels .modelictitle{font-size: 20px;margin-left: 10px;}

.infomodels .iconsuccess{font-size: 22px}
.infomodels .modeltext1{margin-top: 10px;}
.infomodels .modeltext2{margin-bottom: 14px;}


/*界面*/
/*登录页面*/
.loginindex{height: 100%;background:url(images/Qpos_bg.png) no-repeat center center;background-size: cover;}
.login{width: 550px;box-shadow: 0 0 50px 0 rgba(56,65,98,0.10);overflow: hidden;position: absolute;left:50%;top:50%; transform: translate(-50%, -50%);background: #fff;border-radius: 5px;}
.login input::-ms-input-placeholder{text-align: center;font-size: 14px;}
.login input::-webkit-input-placeholder{text-align: center;}
.passwords input::-webkit-input-placeholder{text-align: center;opacity: 0.5;}
.passwords input::-ms-input-placeholder{text-align: center;opacity: 0.5;}
.passwords input:hover{border:0;border-bottom: 1px solid #35bab0;}
.passwords input:focus{border:0;border-bottom: 1px solid #35bab0;outline: none;}


.login-form{width: 100%;background: #fff;overflow: hidden;border-radius: 0 0 3px 3px;padding-bottom: 18px;}
.login-form .ant-btn-lg{height: 49px;font-size: 14px;}
.login-form .ant-btn-primary{border:0;}
.login-form .ant-btn-primary:hover{background: #35BAB0;}
.login-form .ant-input-lg{height: 52px;}
.login-form .ant-input{border:0;border-bottom: 1px solid rgba(56,65,98,0.1);text-align: center;border-radius: 0;font-size: 14px;}
.login-form .ant-input:hover{border:0;border-bottom: 1px solid rgba(56,65,98,0.1);font-size: 14px;}
.login-form .ant-input:focus{border:0;border-bottom: 1px solid rgba(56,65,98,0.1);box-shadow:none;font-size: 14px;}
.login-form .ant-form-item{margin-bottom: 18px;}
.login-form .anticon-user:before{content:none;}
.login-form .anticon{display: none;}
.login_form_forgot {opacity: 0;text-align: center;font-size: 12px;line-height: 12px;margin-top: -8px;font-size:12px;color:#D7636B}
.login_form_forgots{opacity: 1;text-align: center;font-size: 12px;line-height: 12px;margin-top: -8px;font-size:12px;color:#D7636B}
.login-form .ant-input-affix-wrapper .ant-input:not(:first-child){padding-left: 7px;}
.login_forms{max-width: 400px;margin:0 auto;margin-top:30px}
.loginformbuttons{
   width: 100%;
    margin-top: 10px;
    font-weight:normal
}
.loginlogos{
    width: 100%;
    height: 168px;
    background: #35BAB0;
    overflow: hidden;
    border-radius: 3px 3px 0 0
}
.loginlogoboxs{
    width:212px;
    height: 86px;
    margin:0 auto;
    margin-top: 43px
}


/*销售订单*/
.content-sell-info{position: relative;height: calc(100vh - 270px)}


.searchselect .ant-select-selection--single{height: 40px;}
.searchselect .ant-select-selection__rendered{height: 40px;line-height: 40px;font-size: 14px;color: #384162;}
.sellinfolist li{padding:10px 30px 10px 20px;border-bottom: 1px solid #E7E8EC;}
.sellinfolist li p{font-size: 14px;color: #1A1D00;margin-top: 10px;display: flex;justify-content:space-between}
.sellinfolist li span{font-size: 14px;color: #74777F;}
.slidecountcztop{padding:20px 30px 10px 20px;border-bottom: 1px solid #E7E8EC;}
.slidecountcztop p{font-size: 14px;color: #1A1D00;margin-bottom: 10px;display: flex;justify-content:space-between}
.slidecountcztop span{font-size: 14px;color: #74777F;}
.slidecountczbo{padding:20px 30px 10px 20px;}
.slidecountczbo p{font-size: 14px;color: #1A1D00;margin-bottom: 10px;}
.slidecountczbo span{font-size: 14px;color: #74777F;}
.searchqery{margin:20px 0;}
.slidetitle .p1{margin-top:15px}
.slidetitle .p2{ font-size:18px;color: #384162}
.slidetitle .p3{font-size: 18px;color:#74777F;margin-right:30px}
.Paginationsell{
  width: 330px;
  padding-top: 10px;
  padding-left: 30px;
  border-top: 1px solid #e9e9e9;
}
.Paginationsell ul{
	float: left;
	width: 180px;
	margin-top: 5px;
}
.Paginationsell select{
	float: left;
	width: 100px;
}

.selltime .ant-input,.selltime .persontime .ant-input{width: 240px;}
.content-sell-info .ant-select-selection-selected-value{
   line-height: 30px;
}

/*会员管理*/
.birthday .ant-table-tbody > tr{border: 1px solid #E7E8EC;display: inline-block;border-radius: 3px;width: 245px;height: 42px;padding:0;margin-bottom: 10px;}
.birthday .ant-table-tbody > tr>td{height: 41px;display: inline-block;padding:0;}
.birthday .ant-select-selection{border:0;}
.birthday .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{box-shadow:none;}
.birthday .ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{background:none;}
.addicon{vertical-align: top;}
.birthday .ant-switch-inner{margin-left: 22px;font-size: 10px;}
.birthday .ant-switch-inner:after{width:16px;height: 16px;left: 2px;top:2px;}
.birthday .ant-switch-checked .ant-switch-inner{margin-left: 4px;font-size: 10px;}
.formdis .ant-form-item-control{width: 340px;height: 40px;line-height: 40px;}
.formdis .ant-input-disabled{background: #fff;color:rgba(0, 0, 0, 0.65);border:0;padding:0;}



/* 会员info */
.goods-countersme{top: 112px;}
.cardlist{width: 100%;}
.cardlist .cardlist_item{margin:10px 30px;float:left;}
.memberinfo-style .ant-table-content{margin-top:1px;}
.memberinfo-style .ant-table.ant-table-bordered .ant-table-title{background: #fff;border:0;border-bottom:1px solid #e9e9e9;padding-left: 30px;font-size: 16px;color: #384162}
.mbindocard .ant-card-head-title{font-size: 16px;color: #384162;font-weight: normal;}
.mbindocardbox{margin-bottom: 40px;}
/*收银*/
.cashier{width: 45%;height: 40px;margin-left: 2%;}
.cashier .ant-switch{width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #E7E8EC;}
.cashier .ant-switch span{color: #35bab0;margin-left: 70%;line-height: 39px;}
.cashier .ant-switch:after{top:1px;background:#35bab0;width: 36px;height: 36px;border:2px solid #fff;box-shadow: 0 0 20px 0 rgba(116,119,127,0.30);}
.rechargelist{display: flex;width:310px;margin:0 auto;justify-content: space-between;margin-top:20px;margin-bottom: 20px;}
 


/*退货*/
.returngood{width: 45%;height: 40px;margin-left: 2%;}
.returngood .ant-switch{width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #FB6349;}
.returngood .ant-switch span{color: #FB6349;line-height: 39px;}
.returngood .ant-switch:after{top:11px;background:#FB6349;top:1px;width: 36px;height: 36px;border:2px solid #fff;box-shadow: 0 0 20px 0 rgba(116,119,127,0.30);left: 92%;}
.returngoodtable .ant-table-bordered .ant-table-thead > tr > th:first-child{width: 5%;}
.returngoodtable .ant-table-bordered .ant-table-tbody > tr > td:first-child{width: 5%;}

/*账号*/
.formdis .ant-form-item{margin-bottom: 24px;}
.formdis .listto{margin-bottom: 0;margin-top: -10px;}
.formdis .ant-form-item-label label{font-size:16px;color: #74777F}
.formdis .ant-form-item-control-wrapper{display: inline-block;width: 300px;}
.flexcon{height:100%;display:flex;flex-direction:column}

.accformdis .ant-select-selection-selected-value{line-height: 40px;}
.formdis .ant-select-lg .ant-select-selection__rendered{line-height: 40px;}
.formdis .ant-select-lg .ant-select-selection--single{height: 40px;font-size: 14px;color: #74777F;}
.accountmodel .ant-radio-group{}
.checkboxlabel{margin-left: 10px;}
.formdis .checkboxlabelstatus{margin-bottom: 10px;}
.inputwidth{width:310px;height:40px}
.downk a{font-size: 16px;color: #35bab0;text-decoration:underline}
.fires .ant-form-item-label{margin-left: 16px;}
.fireses .ant-form-item-label{margin-right: 4px;}
.submitform{width:100px;height:40px;background:#FFF;border: 1px solid #E7E8EC;border-radius: 3px;color: #35BAB0;font-size: 14px;text-align:center;line-height:40px;cursor: pointer;margin-left:95px;margin-top: 14px;}



/*结算*/

/* 六个按钮三种状态 */
.pay .list{width:117px;height:75px;background:#fff;color:#384162;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;border: 1px solid #E7E8EC;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);border-radius: 5px;float: left;}
.pay .listoff{ width:117px;height:75px;background:#35BAB0;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;border-radius: 5px;float: left;}
.pay .listdis{ width:117px;height:75px;background:#f7f7f7;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;border-radius: 5px;float: left;}



.btnbg{margin-top: 10px;}
.pay .ant-modal-body{padding:30px 23px 30px 30px;}

/*正常list*/


.pay .listtoff{border-radius: 5px;width:117px;height:144px;background:#35BAB0;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;float: left;}
.pay .listt{width:117px;height:144px;background:#fff;color:#384162;font-size:26px;margin-right: 10px;margin-left: 10px;border: 1px solid #E7E8EC;
box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);border-radius: 5px;float: left;}


/* 组合支付 抹零点击和不点击*/
.pay .listtdis{width:117px;height:144px;background:#f7f7f7;color:#fff;font-size:26px;margin-top: 8px;margin-right: 10px;margin-left: 10px;color: rgba(0, 0, 0, 0.25);float: left;margin-top: 0;}
.pay .listnonezero{width:117px;height:144px;background:#fff;color:#384162;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;border: 1px solid #E7E8EC;
box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);border-radius: 5px;float: left;}
.pay .listnonezeros{width:117px;height:144px;background:#35bab0;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;border: 1px solid #E7E8EC;
box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);border-radius: 5px;float: left;}


.pay .list .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: #384162;}
.pay .listoff .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: #fff;}
.pay .listdis .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: rgba(0, 0, 0, 0.25);}

.pay .listtdis .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: rgba(0, 0, 0, 0.25);}
.pay .listnonezero .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: #384162;}
.pay .listnonezeros .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: #fff;}
.pay .listtoff .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: #fff;}
.pay .listt .ant-btn{background-color: transparent;width: 100%;height: 100%;border:0;display: inline-block;color: #384162;}


.pay .ant-input{border-left: 0;font-size: 40px;color: #384162}
.pay .ant-input-group-addon{background: #f7f7f7;font-weight: bolder;font-size: 18px;border-radius: 5px 0 0 5px;}
.pay .inputcenter .ant-input-group-addon{background: #fff}
.pay .iconk{font-size: 14px;}
.pay .waring{text-align: center;width: 580px;font-size: 12px;color: #D7636B;height: 20px;margin-top: -11px;}
.pay .waringnone{text-align: center;width: 580px;font-size: 12px;color: #D7636B;opacity: 0;height: 20px;margin-top: -11px;}
.pay .payends{margin-top:-6px;}
.ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child{height: 75px;}
.ant-input-group{box-shadow: 0 0 25px 0 rgba(0,0,0,0.10);}
.ant-input-group-wrapper{margin-bottom: 20px;}
.payinputshe{height: 75px;}
.pay .ant-input{border-radius: 0 5px 5px 0}


.paylw{width:580px;}
.paylh{height:80px}
.paylhs{width:580px;height:144px;background: #35BAB0;border: 1px solid #E7E8EC;box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);border-radius: 5px;font-size:40px;color:#fff;font-weight: normal;}
.paylhs:hover{width:580px;height:144px;background: #35BAB0;border: 1px solid #E7E8EC;box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);border-radius: 5px;font-size:40px;color:#fff;font-weight: normal;}
.payharflw{width:280px;height:80px;}
.payharflwl{width:280px;height:80px;float:left;margin-bottom: 20px;}
.payharflwr{width:280px;height:80px;float:right;margin-bottom: 20px;}
.payinputsmodel{padding-right: 20px;}
.payinputsmodelbox{box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);}

.rechargepays .ant-modal-body{padding:0 0 20px 0;}





input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.payinputs{padding-right: 20px;}
.pay .ant-input-group-addon{padding-left: 20px;border: 1px solid #E7E8EC;border-right: 0;}
.pay .ant-input{border: 1px solid #E7E8EC;border-left: 0;}
/*宝宝生日*/
.babytables .ant-select-enabled{height: 40px;vertical-align: top;}
.babytablesbox{width: 245px}
.babytables .ant-select-enabled .ant-select-selection--single{height: 38px;vertical-align: top;}
.formdis .listform{margin-bottom:0px;}

.formdis .ant-radio{margin-left: 2px;}

.ant-table-pagination{margin:10px 0;float: right;margin-right: 20px;}
.ant-select-arrow{right: 0;}

.formdis .checkboxlabel{
  margin-left:0px;
}

.footcen-line{width: 1px;height: 15px;background:#d8d8d8;margin:0 auto;margin-top: 20px;cursor: pointer}
.footcens-line{width:100px;font-size:16px;height:60px;line-height:60px;margin:0 auto;text-align:center;cursor: pointer}
.footcens-line::after{
  width: 1px;height: 15px;background:#d8d8d8;
}
.footcens-line::before{
  width: 1px;height: 15px;background:#d8d8d8;
}
.slideinfo-height-style{
  width:299px;height:75px;margin-left:30px;border-bottom:1px solid #d8d8d8;overflow:hidden;
}
.tabBar-style{
  width:330px;
  height:450px;
}
.time-banner-style{
  height:80px;
  border-bottom:1px solid #E7E8EC;
}
.chartandtable-wrapper{
	height: calc(100vh - 190px);
}
  .chart-container-style{
    height: calc(100vh - 270px);
    overflow-y: auto;
  }
  .chart-container-style .ant-table-bordered .ant-table-thead > tr > th{
  }
   .sellinfolist li:nth-child(2)>div{
    border-bottom: 1px solid #d8d8d8;
   }
   .sellinfolist li:nth-child(2)>div p:last-child{
     margin-bottom: 10px;
   }
   .sellinfolist li:nth-child(2)>div:last-child{
    border-bottom: 0px;
  }
  .sellinfolist li:nth-child(2)>div:last-child p:last-child{
      margin-bottom: 0px;
  }
  .ant-modal-close-x:before{
    margin-top: -8px;
    margin-right: -15px;
  }
  /*修改边框问题*/
  .ant-tabs-bar{
    border-bottom: 0px;
  }
  .account-tab-style .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    height: 55px;
  }
  .bgf-goods-style{
    background: #fff;
    border-radius: 5px;
    /*height: 92%;*/
  }
  .member-style{
    background: #fff;
    border-radius: 5px;
     height: 100%; 
    border: 1px solid #e9e9e9;
  }
  #root{
    height: 100%;
    width: 100%;
  }
  .loginindex{
    height: 100%;
    width: 100%;
  }

  .chartandtable-wrapper .ant-table-wrapper{
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
  }
  .good-contrl-table .ant-table{
    border-bottom: 1px solid #e9e9e9;
  }
  .bgf-goods-style{
    border: 1px solid #e9e9e9;
    height: 100%;
  }
  .member-style .ant-table{
    border-bottom: 1px solid #e9e9e9;
  }
  .search-component{
    width: 100%;
    overflow: hidden;
    top: 113px;
    position: absolute;
    z-index: 10;
    padding: 0 30px;
  }
  .counters.goods-counters{
    top: 163px;
  }
  .sell-search-input .ant-input, .persontime .ant-input{
  	width: 210px;
  }

  .member-width-style .formdis{
    width: 100%;
  }
  .member-width-style .formdis input{
    width: 100%;
  }


  /* v1.5.0样式添加 */
  .re-print{
    position: absolute;
    bottom: 30px;
    right: 0px;
    width: 100px;
    height: 43px;
    cursor: pointer;
    background: transparent;
  }
  .re-print img{
    width: 100%;
    height: 100%;
  }

/*.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{background:inherit;}*/
/*---------------------------------------__________________________________________________________*/

/*小屏样式*/
@media screen and (max-width: 800px) {
  html, body{height: 100%;padding:0;margin:0;border: 0;background:#d9d9d9;overflow-x:hidden;font-family:"Microsoft YaHei"}
li{list-style: none;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; *zoom:1;}
.fl{float: left}
.fr{float: right;}
.tc{text-align: center;}
.w{margin:0 auto;}
.posion{position: relative;}
.w100{width: 100%;}
.h100{height: 100%;}
.point{cursor: pointer;}
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}


.search-component{
	top: 83px;
}
.counters.goods-counters{
	top: 133px;
}



/*位置*/
.ml10{margin-left: 5px}
.mr10{margin-right: 5px}
.mt10{margin-top: 10px}
.mb10{margin-bottom: 5px}
.mt20{margin-top: 10px;}
.ml20{margin-left: 10px;}
.mr20{margin-right: 10px;}
.pb20{padding-bottom: 10px;}
.mt30{margin-top: 15px;}
.ml30{margin-left: 15px;}
.mr30{margin-right: 15px;}
.mb30{margin-bottom: 15px;}
.p30{padding:15px;}
.pl30{padding-left: 15px;}
.mt25{margin-top: 3px;}

/*字体*/
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f20{font-size: 20px;}
.f30{font-size: 30px;}
.f26{font-size: 26px;}
.f18{font-size: 18px;}
.fw{font-weight: bolder;}

/*color*/
.fff{color: #fff;}
.c74{color: #74777F;}
.c1A{color: #1A1D00;}
.c38{color: #384162;}
.themecolor{color: #35BAB0}
.themebgcolor{background: #35BAB0;}

/*元素*/
.btn{width: 100px;height: 40px;}
.dividingline{
  width: 2px;
    height: 15px;
    background:#d8d8d8;
    margin:0 auto;
    margin-top: 20px
}

/*框架*/
.count{padding:0 30px;position: relative;}
.h40{height: 40px;line-height: 40px;}
.messageicon{width:30px;height: 30px;}
.messageicon img{width:100%;height: 100%;}
.bgf{background:#fff;border:1px solid #d8d8d8;height: 100%;}
.headers{height: 60px;position: absolute;z-index: 5;top:0;width: 100%;background:#35BAB0;margin-bottom:20px}
.headersno{height: 60px;position: absolute;z-index: 5;top:0;width: 100%;background:#FB6349;margin-bottom:20px}
.footer{height: 200px;position: absolute;z-index: 1000;bottom: 10px;width: 100%;}
.footers{height: 150px;position: absolute;z-index: 1000;width: 100%;}

.counter{width:100%;overflow:auto;top:67px;position:absolute;bottom:220px;z-index:10;padding:0 30px;}
.counters{width:100%;overflow:hidden;top:67px;position:absolute;z-index:10;bottom:30px;padding:0 30px;}
.cashier-counter-style{
  bottom:220px;
}

/*--antd--*/
span.ant-radio + *{font-size: 12px;color: #74777F;}
.ant-radio-inner{border-radius: 3px;width: 16px;height: 16px;top:1;}
.ant-radio-inner:after{border-radius: 0;left: 4px;top:4px;}
.ant-modal-footer{height: 60px;padding:0;border-top: 1px solid #d8d8d8;}
.ant-modal-header{text-align: center;border-bottom: 1px solid #d8d8d8;}
.ant-tabs{height: 100%;}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-ink-bar{visibility:visible;height: 2px;}
.ant-table-tbody .table_white{background: white;}/*设置隔行变色*/
.ant-table-tbody .table_gray{background: #d1d1d1}
.ant-table-tbody .table_theme{background: #35BAB0}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container{height: 54px;}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{height: 54px;width: 200px;padding:0;text-align: center;line-height: 54px;font-size: 14px;border:1px solid #d9d9d9;margin-right: 10px;}
.ant-tabs-bar{margin-bottom: 0;}
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content{background: #FFFFFF;border: 1px solid #E7E8EC;border-radius: 0 0 3px 3px;border-top:0;overflow: hidden;height: 100%;}
.ant-message-notice-content{background: #fff;box-shadow: 0 0 30px 0 rgba(0,0,0,0.30);border-radius: 5px;font-size: 30px;color: #384162;padding:24px 20px;}
.ant-message .anticon{top:0;font-size: 26px;}
.ant-message{top:50%;transform: translateY(-50%)}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar{
 border-right:1px solid #d8d8d8;
}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab{height: 50px;margin-bottom: 0;padding:0;}
.ant-tabs-vertical.ant-tabs-left{border-top: 1px solid #d8d8d8;}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active{background:#35BAB0;width: 330px;position: relative;}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active p div{color: #fff}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active:after{content:'';width: 0;height: 0;display: block;border-top: 25px solid transparent;border-bottom: 25px solid transparent;
    border-left: 10px solid #35BAB0;position: absolute;top:0;right:-10px;}
.ant-tabs-nav-container,.ant-tabs-nav-wrap,.ant-tabs-nav-scroll{overflow:visible;}
.ant-tabs-top .ant-tabs-ink-bar-animated, .ant-tabs-bottom .ant-tabs-ink-bar-animated{transition:none;}
.searchqery .ant-input,.persontime .ant-input{height: 40px;width: 200px;font-size: 14px;}/*日期框*/
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{text-align: center;}
.ant-table-bordered .ant-table-thead > tr > th{font-size: 14px;color: #74777F;border-right:1px solid #d8d8d8;
border-bottom:1px solid #d8d8d8;background: #fff;height: 55px;}
.ant-table-bordered .ant-table-tbody > tr > td{font-size: 14px;color: #384162;border-right:none}
.ant-table-tbody > tr > td{border-bottom:0;height: 40px;padding:0;}
.ant-tabs-extra-content{position: relative;z-index: 1000;}
.ant-tabs-nav-container{position: relative;z-index: 1;}
.ant-form-item-required:before{display: none;}
.ant-modal-body{padding:20px;padding-bottom: 0;}
.ant-form-item-label{height: 40px;line-height: 40px;vertical-align: top;}
.ant-form-item-label label:after{content: ''}
.ant-notification-topLeft, .ant-notification-bottomLeft{left: 50%!important;margin-left: -150px;}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{background: #fff;}
.ant-table-bordered .ant-table-header > table, .ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-fixed-left table, .ant-table-bordered .ant-table-fixed-right table{border:0;}
.ant-select-selection-selected-value{line-height: 40px;}
.ant-modal-title{font-size: 26px;color: #384162;}

.ant-modal{
  width: 600px!important;
  top: 20px;
}
.fix-800-fr{
  width:270px!important;
}

/*组件*/

/*operation*/

.operationl{width:410px;}
.useinput{width:190px;height:40px;font-size:14px;color:#384162}
.opera{width:100%;height:150px;background:#fff}
.operationr{width:300px;}
.operationr .operationcon{width:100%;height:150px;background:#35BAB0;overflow:hidden}
.operationr .operationconbg{width:100%;height:150px;background:#FB6349;overflow:hidden}
.operationr .list1{width:90px;height:75px;border-right:1px solid rgba(255,255,255,0.5);margin-top:38px;text-align:center}
.operationr .list1 .con1{font-size:20px;color:#FFF;margin-top:20px}
.operationr .list1 .con2{font-size:12px;color:#FFF}
.operationr .list2{width:90px;height:75px;border-right:1px solid rgba(255,255,255,0.5);margin-top:38px}
.operationr .list2 .con1{font-size:20px;color:#FFF;margin-left:0px;margin-top:20px;width: 100%;text-align: center;}
.operationr .list2 .con2{font-size:20px;color:#FFF;margin-left:0px;width: 100%;text-align: center;}
.operationr .list3{width:90px;height:75px;margin-top:38px;}
.operationr .list3 .con1{font-size:20px;color:#FFF;margin-left:37px;margin-top:20px}
.operationr .list3 .con2{font-size:20px;color:#FFF;margin-left:37px}
.operationl input::-ms-input-placeholder{font-size: 14px;color: #74777F;text-align: center;font-weight: 550;}
.operationl input::-webkit-input-placeholder{font-size: 14px;color: #74777F;text-align: center;font-weight: 550;}
.tablebox{min-height: 250px;background: #fff;}
.rechargebtn{width:35px;height:16px;border:1px solid #35BAB0;text-align:center;line-height:14px;font-size:10px;float:left;margin-left:2px;cursor: pointer;border-radius: 3px;margin-top: -1px;}
.cashierbox{width:190px;height:90px;border:1px solid #d8d8d8;border-radius:3px;margin-left:10px;}
.footleft{width:174px;font-size: 14px;height:60px;line-height:60px;cursor: pointer;}
.footright{width:174px;font-size: 14px;color:#35BAB0;height:60px;line-height:60px;cursor: pointer}
.footcen{width: 2px;height: 15px;background:#d8d8d8;margin:0 auto;margin-top: 20px}
.chargep{width:310px;border-bottom:1px solid #E7E8EC;height:55px;line-height:55px;margin:0 auto}
.rechargetype{color:#35bab0;border:1px solid #35bab0}
.rechargetypeoff{color:#384162;border: 1px solid #E7E8EC}
.w310{width: 310px}
.w310l{height:40px;line-height:40px}
.w310ll{width:237px;height:40px}
.cashierbox_t{font-size: 12px;padding:0px;border-bottom: 1px solid #d8d8d8;}
.cashierbox_b{font-size: 12px;padding: 0px;}

/*btn*/
.widthmethfw{width:100px;height:40px;background:#FFF;border: 1px solid #E7E8EC;border-radius: 3px;color: #35BAB0;
  font-size: 14px;text-align:center;line-height:40px;cursor: pointer;font-weight: bolder;}
.widthmeth{width:100px;height:40px;background:#FFF;border: 1px solid #E7E8EC;border-radius: 3px;color: #35BAB0;
  font-size: 14px;text-align:center;line-height:40px;cursor: pointer;}

/*Searchinput*/
.searchinput{width:200px;height:40px;color:#B4B4B4;border-radius:3px 0 0 3px}
.searchinputbtn{width:87px;height:40px;background: #35BAB0;line-height:40px;border-radius:0 3px 3px 0}


/*header组件*/
.headermenuiconcount{width:62px;height:22px}
.headermenuuselogo{width:144px;height:60px}
.headermenuuselogobox{width:144px;height:42px;margin-top: 8px;}
.menu_list0,.menu_list1,.menu_list2,.menu_list3,.menu_list4,.menu_list5{width:50px;height: 100%;float: left;text-align: center;height: 60px;color: #384162;margin-right: 12px;-webkit-transform:scale(0.9);}
.menu_list0 .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_member.png) no-repeat center center;background-size:cover;}
.menu_list1 .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_delivery.png) no-repeat center center;background-size:cover;}
.menu_list2 .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_goods.png) no-repeat center center;background-size:cover;}
.menu_list3 .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_sell.png) no-repeat center center;background-size:cover;}
.menu_list4 .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_dataManage.png) no-repeat center center;background-size:cover;}
.menu_list5 .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_setting.png) no-repeat center center;background-size:cover;}
.menu_list0:hover,.menu_list1:hover,.menu_list2:hover,.menu_list3:hover,.menu_list4:hover{background: #38B3AA;-webkit-transform:scale(0.9);margin-right: 12px;}
.menu_list0:hover .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_member_hover.png) no-repeat center center;background-size:cover;}
.menu_list1:hover .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_delivery_hover.png) no-repeat center center;background-size:cover;}
.menu_list2:hover .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_goods_hover.png) no-repeat center center;background-size:cover;}
.menu_list3:hover .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_sell_hover.png) no-repeat center center;background-size:cover;}
.menu_list4:hover .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_dataManage_hover.png) no-repeat center center;background-size:cover;}
.menu_list5:hover .menu_list{width:34px;height:34px;margin:0 auto;margin-top:5px;background: url(images/icon_setting_hover.png) no-repeat center center;background-size:cover;}
.menu_list0:hover .menu_list_p,.menu_list1:hover .menu_list_p,.menu_list2:hover .menu_list_p,.menu_list3:hover .menu_list_p,.menu_list4:hover .menu_list_p,.menu_list5:hover .menu_list_p{font-size:10px;color:#fff}
.menu_list_p{font-size:10px;color:#384162;-webkit-transform:scale(1);display:block;font-family:"Microsoft YaHei";margin-top:2px;}
.menuitem{font-size:14px;color:#74777F}
.menuitem:hover{color:#35BAB0;}
.shift_bottom_list{background: #fff;}
.shift_bottom_list li{border:1px solid #d8d8d8;box-shadow:0 0 11px 0 rgba(0,0,0,0.10);text-align:center;float:left;background: #fff;margin:22px 11px 0;}
.dropdownmodal-changePwd{
  width: 500px!important;
}
.dropdownmodal-changePerson{
  width:550px!important;
}
.dropdownmodal-changePwd .ant-modal-content{width: 500px;}
.dropdownmodal .ant-modal-header{display: none;}
.dropdownmodal .ant-modal-body{padding:0;}
.dropdownmodal .ant-modal-footer{border-top:0;height: 60px;margin:0 auto;padding:0;margin-top: 22px;border-top:1px solid #d8d8d8;}
.usershift_box{width:100%;}
.usershift_count{width:100%;}
.usershift_counts{width:530px}
.usershift_top{height: 168px}
.usershift_top_title{border-bottom: 1px solid rgba(255,255,255,0.5);height:60px;line-height:60px}
.usershift_top_list{width: 130px;margin-top:24px}
.usershift_top_list_line1{width:2px;height:30px;background:rgba(255,255,255,0.5);position:absolute;left:150px;top:35px}
.usershift_top_list_line2{width:2px;height:30px;background:rgba(255,255,255,0.5);position:absolute;left:350px;top:35px}
.usermodelfootbtn{width:244px;height:60px;line-height:60px}
.Userinfobox{margin-top:18px;margin-right:5px;font-size: 12px;}
.Userinfospshop{height:20px;line-height:20px}
.userline{margin:1px 10px 0;height:10px}
.userdropdownmenu{margin-top:1px;font-size: 12px;}
.userloginlogo{width: 100%;height: 168px;background: #35BAB0;overflow: hidden;border-radius: 3px 3px 0 0}
.userloginlogobox{width:210px;height: 83px;margin:0 auto;margin-top: 43px}
.userloginformbutton{width: 100%;margin-top: 12px}
.userlogin_form{max-width: 400px!important;margin:0 auto;margin-top:30px}
.jiaos{height: 20px;}

/*infomessage组件*/
.infomodels .ant-modal-content{background: #fff;}
.anticon-check-circle:before{color: #35bab0;}


/*infomodel*/
.modeltext{ color:#384162;margin-left:35px}








/*界面*/
/*登录页面*/
.loginlogoboxs{
    width:170px;
    height: 69px;
    margin:0 auto;
    margin-top: 33px
}
.loginformbuttons{
   width: 100%;
    margin-top: 15px;
    font-weight:normal
}
.loginlogos{width: 100%;height: 130px;background: #35BAB0;overflow: hidden;border-radius: 3px 3px 0 0}
.loginindex{height: 100%;background:url(images/Qpos_bg.png) no-repeat center center;background-size: cover;background-image: none;}
.login{width: 450px;box-shadow: 0 0 50px 0 rgba(56,65,98,0.10);overflow: hidden;position: absolute;left:50%;top:50%; transform: translate(-50%, -50%);background: #fff;border-radius: 5px;}
.login input::-ms-input-placeholder{text-align: center;font-size: 14px;}
.login input::-webkit-input-placeholder{text-align: center;}
.passwords input::-webkit-input-placeholder{text-align: center;opacity: 0.5;}
.passwords input::-ms-input-placeholder{text-align: center;opacity: 0.5;}
.passwords input:hover{border:0;border-bottom: 1px solid #35bab0;}
.passwords input:focus{border:0;border-bottom: 1px solid #35bab0;outline: none;}
/*.login-form .ant-input{border-bottom:1px solid red}*/

.login-form{width: 100%;background: #fff;overflow: hidden;border-radius: 0 0 3px 3px;padding-bottom: 18px;}
.login-form .ant-btn-lg{height: 49px;font-size: 14px;}
.login-form .ant-btn-primary{border:0;}
.login-form .ant-btn-primary:hover{background: #35BAB0;}
.login-form .ant-input-lg{height: 52px;}
.login-form .ant-input{border:0;border-bottom: 1px solid #d8d8d8;text-align: center;font-size: 14px;}
.login-form .ant-input:hover{border:0;border-bottom: 1px solid #d8d8d8;font-size: 14px;}
.login-form .ant-input:focus{border:0;border-bottom: 1px solid #d8d8d8;box-shadow:none;font-size: 14px;}
.login-form .ant-form-item{margin-bottom: 10px;}
.login-form .anticon-user:before{content:none;}
.login-form .anticon{display: none;}
.login_forms{max-width: 400px;margin:0 auto;margin-top:10px}
.login_form_forgot {opacity: 0;text-align: center;font-size: 12px;line-height: 12px;margin-top: 0px;}
.login_form_forgots{opacity: 1;text-align: center;font-size: 12px;line-height: 12px;margin-top: 0px;}
.login-form .ant-input-affix-wrapper .ant-input:not(:first-child){padding-left: 7px;}



/*销售订单*/
.searchselect .ant-select-selection--single{height: 40px;}
.searchselect .ant-select-selection__rendered{height: 40px;line-height: 40px;font-size: 14px;color: #384162;}
.sellinfolist li{padding:0px 30px 0px 20px;border-bottom: 1px solid #d8d8d8;}
.sellinfolist li p{font-size: 12px;color: #1A1D00;margin-top: 10px;display: flex;justify-content:space-between}
.sellinfolist li span{font-size: 12px;color: #74777F;}
.slidecountcztop{padding:20px 30px 10px 20px;border-bottom: 1px solid #E7E8EC;}
.slidecountcztop p{font-size: 14px;color: #1A1D00;margin-bottom: 10px;display: flex;justify-content:space-between}
.slidecountcztop span{font-size: 14px;color: #74777F;}
.slidecountczbo{padding:20px 30px 10px 20px;}
.slidecountczbo p{font-size: 14px;color: #1A1D00;margin-bottom: 10px;}
.slidecountczbo span{font-size: 14px;color: #74777F;}
.searchqery{margin:20px 0;}
.slidetitle .p1{margin-top:5px}
.slidetitle .p2{ font-size:18px;color: #384162}
.slidetitle .p3{font-size: 18px;color:#74777F;margin-right:30px}
/*会员管理*/
.birthday .ant-table-tbody > tr{border: 1px solid #d8d8d8;display: inline-block;border-radius: 3px;padding:0;margin-bottom: 0px;width: auto;height: auto;}
.birthday .ant-table-tbody > tr>td{height: 41px;display: inline-block;padding:0;}
.birthday .ant-select-selection{border:0;}
.birthday .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{box-shadow:none;}
.birthday .ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{background:none;}
.addicon{vertical-align: top;}
.birthday .ant-switch-inner{margin-left: 22px;font-size: 10px;}
.birthday .ant-switch-inner:after{width:16px;height: 16px;left: 2px;top:2px;}
.birthday .ant-switch-checked .ant-switch-inner{margin-left: 4px;font-size: 10px;}
.formdis .ant-form-item-control{width: 320px;}
.formdis .ant-input-disabled{background: #fff;color:rgba(0, 0, 0, 0.65);border:0;}
/*收银*/
.cashier{width: 190px;height: 40px;margin-left: 15px;}
.cashier .ant-switch{width: 190px;height: 40px;line-height: 40px;background: #fff;border: 1px solid #d9d9d9;}
.cashier .ant-switch span{color: #35bab0;margin-left: 116px;}
.cashier .ant-switch:after{background:#35bab0;}
.rechargelist{display: flex;width:310px;margin:0 auto;justify-content: space-between;margin-top:20px;margin-bottom: 20px;}
/*退货*/
.returngood{width: 190px;height: 40px;margin-left: 15px;}
.returngood .ant-switch{width: 190px;height: 40px;line-height: 40px;background: #fff;border: 1px solid #FB6349;}
.returngood .ant-switch span{color: #FB6349;}
.returngood .ant-switch:after{background:#FB6349;}


/*账号*/
.formdis .ant-form-item{margin-bottom: 10px;}
.formdis .listto{margin-bottom: 0}
.formdis .ant-form-item-label label{font-size:14px;color: #74777F}
.formdis .ant-form-item-control-wrapper{display: inline-block;}
.flexcon{height:100%;display:flex;flex-direction:column}

.accformdis .ant-select-selection-selected-value{line-height: 40px;}
.formdis .ant-select-lg .ant-select-selection__rendered{line-height: 40px;}
.formdis .ant-select-lg .ant-select-selection--single{height: 40px;font-size: 14px;color: #74777F;}

/*结算*/
.pay .ant-modal-body{padding:30px 12px 30px 30px;}
.pay .list{width:110px;height:90px;background:#fff;color:#384162;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;border: 1px solid #d8d8d8;}
.pay .listoff{ width:110px;height:90px;background:#35BAB0;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;}
.pay .listdis{ width:110px;height:90px;background:#d8d8d8;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;margin-bottom: 20px;color: rgba(0, 0, 0, 0.25)}

.pay .listt{width:110px;height:144px;background:#fff;color:#384162;font-size:26px;margin-right: 10px;margin-left: 10px;border: 1px solid #d8d8d8;}
.pay .listtoff{border-radius: 5px;width:110px;height:144px;background:#35BAB0;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;}
.pay .listtdis{border-radius: 5px;width:110px;height:144px;background:#d8d8d8;color:#fff;font-size:26px;margin-right: 10px;margin-left: 10px;color: rgba(0, 0, 0, 0.25)}
.pay .ant-input{border: 1px solid #d8d8d8;border-left: 0;font-size: 40px;color: #384162;}
.pay .ant-input:hover{border-color: #e2e2e2;}
.pay .ant-input-group-addon{background: #f7f7f7;border: 1px solid #d8d8d8;border-right: 0;}
.pay .inputcenter .ant-input-group-addon{background: #fff}
.pay .iconk{font-size: 14px;}
.pay .waring{text-align: center;width: 580px;font-size: 12px;color: #D7636B;}
.pay .waringnone{text-align: center;width: 580px;font-size: 12px;color: #D7636B;opacity: 0}
.ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child{height: 90px;}
.ant-input-group-wrapper{margin-bottom: 20px;}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset !important; }

/*首页样式修改*/
.ant-switch-checked:after{
  margin-left: -26px;
}
/*模态框样式修改*/
.paylw{
  width: 270px;
}
.paylhs{
   width: 270px;
}
.paylhs:hover{
  width: 270px;
}
.ant-table-pagination{
  padding-top: 0px;
}
.payharflwl{
  width:130px;
  height: 90px;
}
.payharflwl .ant-input{
  font-size: 22px;
}
.payharflwl .ant-input-group-addon,.payharflwr .ant-input-group-addon{
  padding-left:5px;
}
.payharflwl .payinputsmodel,.payharflwr .payinputsmodel{
  padding-right: 5px;
}
.payharflwl .ant-input,.payharflwr .ant-input{
  padding:4px 1px;
}
.payharflwl .ant-input-group-addon,.payharflwr .ant-input-group-addon{
  padding:4px 1px;
}
.payharflwr{
  width:130px;
  height: 90px;
}
.payharflwr .ant-input{
  font-size: 22px;
}
.btnbg{margin-top: 0px;}
.pay .listnonezero{
  border: 1px solid #d8d8d8;
  width: 110px;
}
.bgf-goods-style{
  border-radius: 0px;
}
/*会员信息模态框*/
.member-width-style{
  width: 450px!important;
}
.member-width-style .ant-input{
   font-size:14px;
}
.member-width-style .inputwidth{
  height: 30px;
}
.ant-form-explain{
  font-size: 12px;
  margin-top: -2px;
}
.menuicon .ml30{
  margin-left: 26px;
}
.ul-3-style li:nth-child(1),.ul-3-style li:nth-child(2),.ul-3-style li:nth-child(3){
 width: 33%;  
}
.ul-3-style li:nth-child(4){
  left: 33%;
}
.ul-3-style li:nth-child(5){
   left: 66%;
}
.formdis .checkboxlabel{
  margin-left:0px;
}
.accountmodel{
  width: 450px!important;
}
.accountmodel .inputwidth{
  height:30px;
}
.accountmodel .ant-input{
  font-size: 14px;
}
.count-table-style{
  height: 460px;
  overflow:auto; 
  border-radius:0px;
}
.submitform{
  border:1px solid #d8d8d8;
}
.useinput{
  height: 30px;
}
.c74{
  margin-left: 3px;
}
.memberinfobox3{width: 60px;}
.memberinfobox2 .p1{text-align: center;}
.level-margin-style{
  margin-right: 5px;
}
.slideinfo-height-style{
  width:299px;height:50px;margin-left:30px;border-bottom:1px solid #d8d8d8;overflow:hidden;
}
.tabBar-style{
  width:300px!important;
  height:300px;
 }
 .content-sell-info{
 	height: calc(100vh - 300px);
 	position: relative;
 }
 .ant-tabs-vertical.ant-tabs-left > .ant-tabs-content{height: calc(100vh - 300px);overflow-y:scroll;}
 .ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar{
 	height: calc(100vh - 300px);
 }
 .Paginationsell{
  height: 55px;
  width: 300px;
  padding-left: 10px;
 }
 .Paginationsell select{
 	float: left;
 }
 .Paginationsell ul{
 	float: left;
 }
 .sellinfolist li:nth-child(1) p:last-child{
  margin-bottom:10px;
 }
 .sellinfolist li:last-child p:last-child{
  margin-bottom:10px;
 }
 .sellinfolist li:nth-child(2)>div{
  border-bottom: 1px solid #d8d8d8;
 }
  .sellinfolist li:nth-child(2)>div:last-child{
    border-bottom: 0px;
  }
  .sellinfolist li:nth-child(2){
    padding: 0px 30px 0px 20px;
  }
  .sellinfolist li:nth-child(2)>div:last-child p:last-child{
    margin-bottom:10px;
  }
  .chart-container-style{
    height: 370px;
    overflow-y: auto;
  }
  .chart-container-style .ant-table-bordered .ant-table-thead > tr > th{
    font-size: 12px;
    border-top: 1px solid #d8d8d8;
  }
  .chart-container-style .ant-table-bordered .ant-table-tbody > tr > td{
    font-size: 12px;
  }
  .react_for_echarts{
    border: 1px solid #d8d8d8 important;
  }
  .usershift_top_title .fl{
     margin-left: 20px;
  }
  .usershift_top_title .fr{
    margin-right: 20px;
  }
  .rechargepays{
    width: 350px!important;
  }
  .infomodels{
    width: 272px!important;
  }
  .time-banner-style{
    height:60px;
    border-bottom:1px solid #d8d8d8;
  }
  .ant-calendar-range-picker-separator{
    line-height:40px;
  }
  .ant-calendar-range-middle{
    line-height: 45px;
  }
  .ant-tooltip-inner{
    font-size: 12px;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    height: 53px;
  }
  .account-tab-style .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    height: 54px;
  }
}




/* 收银 */
.popmodel .ant-modal-body{padding:40px 20px;}
.popmodel .ant-form-item-label label{font-size: 26px;color: #384162}