.returnSales-account-modal {
  .row-item .item-r .payType-btn.selected {
    background: #FB6349;
  }
  .footer-part .go-settling-btn {
    background: #FB6349;
    border-color: #FB6349;
  }
  .ant-btn-primary {
    border-color: #FB6349;
    color: #FB6349;
    &:focus,&:hover,&:active {
      border-color: #FB6349;
      color: #FB6349;
    }
  }
  .ant-checkbox-checked .ant-checkbox-inner,
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    background: #FB6349;
    border-color: #FB6349;
  }
}
