/* .inven_model .ant-modal-footer .ant-btn, .ant-btn:active, .ant-btn:focus{

} */

.inven_model .ant-input-disabled{
    background: #fff;
    border:0;
}

.inven_model .ant-input{
    height: 40px;
}
.inven_model .ant-form-item-label label{
    font-size: 16px;
    color: #74777F;
}