.cashier-modal-wrap {
  .ant-modal-body {
    padding: 30px;
  }
  .ant-input-group > .ant-input{
    height: 75px;
  }
  .payType-list-wrap {
    padding-left: 10px;
    li {
      margin-right:0;
      margin-left:0;
      &:nth-child(2n) {
        float: right;
      }
    }
  }
  .special-remark {
    font-size: 20px;
color: #74777F;
  }
  .row-two {
    border-top: 1px dashed #CBD0DC;
    padding-top: 20px;
  }
  .paylhszu {
    width: 100%;
    &:hover {
      width: 100%;
    }
  }
}
