.uesleft-components-wrap {
  // .member-name {
  //   font-size: 14px;
  // }
  .level-str,
  .member-source {
    text-align: center;
    border: 1px solid #35BAB0;
    padding: 2px;
    border-radius: 1.2px;
    margin-left: 4px;
  }
  .level-str {
    color: #35BAB0;
  }
  .member-source {
    color: #D7636B;
    border-color: #D7636B;
  }
  // .level-margin-style {
  //   font-size: 12px;
  // }
  .member-info-bottom {
    font-size: 14px;
    color: #74777F;
  }
  .toggle-modal-wrap {

  }
  .clearfix:after {
     content:"";
     display: block;
     clear:both;
  }
  .clearfix:before {
     content:"";
     display: block;
     clear:both;
  }
}
