.uesleft-components-wrap {
  .level-str {
    color: #35BAB0;
    font-size: 12px;
    color: #35BAB0;
    text-align: center;
    border: 1px solid #35BAB0;
    padding: 2px;
    border-radius: 1.2px;
  }
  .member-source {

  }
  .toggle-modal-wrap {

  }
}
